{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#Bitcoin">Bitcoin</a></li>
      <li><a data-toggle="pill" href="#Litecoin">Litecoin</a></li>
      <li><a data-toggle="pill" href="#Dogecoin">Dogecoin</a></li>
      <li><a data-toggle="pill" href="#Ethereum">Ethereum</a></li>
      <li><a data-toggle="pill" href="#Stellar">Stellar</a></li>
      <li><a data-toggle="pill" href="#0x">0x</a></li>
    </ul>
    <div class="tab-content">

      <div id="Bitcoin" class="tab-pane active">
        <table class="table">
          <thead>
              <tr>
                <td><b>Nákupy<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>BTC</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in buy_btc %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.btc }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Predaje<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>BTC</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in sell_btc %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.btc }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="Litecoin" class="tab-pane">
        <table class="table">
          <thead>
              <tr>
                <td><b>Nákupy<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>LTC</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in buy_ltc %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.ltc }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Predaje<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>LTC</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in sell_ltc %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.ltc }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="Dogecoin" class="tab-pane">
        <table class="table">
          <thead>
              <tr>
                <td><b>Nákupy<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>DOGE</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in buy_doge %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.doge }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Predaje<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>DOGE</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in sell_doge %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.doge }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="Ethereum" class="tab-pane">
        <table class="table">
          <thead>
              <tr>
                <td><b>Nákupy<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>ETH</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in buy_eth %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.eth }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Predaje<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>ETH</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in sell_eth %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.eth }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="Stellar" class="tab-pane">
        <table class="table">
          <thead>
              <tr>
                <td><b>Nákupy<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>XLM</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in buy_xlm %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.xlm }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Predaje<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>XLM</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in sell_eth %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.xlm }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="0x" class="tab-pane">
        <table class="table">
          <thead>
              <tr>
                <td><b>Nákupy<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>ZRX</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in buy_zrx %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.zrx }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Predaje<b></td>
              </tr>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>ZRX</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in sell_zrx %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.zrx }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
