{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <ul class="nav nav-pills">
      {% if active == "eur" %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
      <a data-toggle="pill" href="#Euro">Euro</a></li>
      {% if active == "btc" %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
      <a data-toggle="pill" href="#Bitcoin">Bitcoin</a></li>
      {% if active == "ltc" %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
      <a data-toggle="pill" href="#Litecoin">Litecoin</a></li>
      {% if active == "doge" %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
      <a data-toggle="pill" href="#Dogecoin">Dogecoin</a></li>
    </ul>
    <div class="tab-content">
      {% if active == "eur" %}
      <div id="Euro" class="tab-pane active">
      {% else %}
      <div id="Euro" class="tab-pane">
      {% endif %}
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>IBAN</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in old_withdrawals_eur %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.iban }}</td>
                <td>{{ withdrawal.eur }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>{{ withdrawal.time_processed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>IBAN</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in withdrawals_eur %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.iban }}</td>
                <td>{{ withdrawal.eur }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>
                  <form action="{% url 'management-withdrawal-eur-check' withdrawal.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Vybavené</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if active == "btc" %}
      <div id="Bitcoin" class="tab-pane active">
      {% else %}
      <div id="Bitcoin" class="tab-pane">
      {% endif %}
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>Adresa</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in old_withdrawals_btc %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.btc }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>{{ withdrawal.time_processed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>Adresa</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in withdrawals_btc %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.btc }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>
                  <form action="{% url 'management-withdrawal-btc-check' withdrawal.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Vybavené</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if active == "ltc" %}
      <div id="Litecoin" class="tab-pane active">
      {% else %}
      <div id="Litecoin" class="tab-pane">
      {% endif %}
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>Adresa</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in old_withdrawals_ltc %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.ltc }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>{{ withdrawal.time_processed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>Adresa</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in withdrawals_ltc %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.ltc }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>
                  <form action="{% url 'management-withdrawal-ltc-check' withdrawal.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Vybavené</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if active == "doge" %}
      <div id="Dogecoin" class="tab-pane active">
      {% else %}
      <div id="Dogecoin" class="tab-pane">
      {% endif %}
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>Adresa</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in old_withdrawals_doge %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.doge }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>{{ withdrawal.time_processed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <td><b>Užívateľ</b></td>
                <td><b>Adresa</b></td>
                <td><b>Suma</b></td>
                <td><b>Vytvorené</b></td>
                <td><b>Vybavené</b></td>
              </tr>
          </thead>
          <tbody>
            {% for withdrawal in withdrawals_doge %}
              <tr>
                <td>{{ withdrawal.user }}</td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.doge }}</td>
                <td>{{ withdrawal.time_created }}</td>
                <td>
                  <form action="{% url 'management-withdrawal-doge-check' withdrawal.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Vybavené</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
