{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  {% if ok_message %} 
    <div class="alert alert-success"> {{ ok_message }} </div>
  {% endif %}
  {% if error_message %} 
    <div class="alert alert-danger"> {{ error_message }} </div>
  {% endif %}
  <div class="container">
    <ul class="nav nav-pills">
      {% if active == "btc" %}
        <li class="active" >
      {% else %}
        <li>
      {% endif %}
          <a data-toggle="pill" href="#Bitcoin">Bitcoin</a>
        </li>
      {% if active == "ltc" %}
        <li class="active" >
      {% else %}
        <li>
      {% endif %}
          <a data-toggle="pill" href="#Litecoin">Litecoin</a>
        </li>
    </ul>
    <div class="tab-content">

      {% if active == "btc" %}
      <div id="Bitcoin" class="tab-pane active">
      {% else %}
      <div id="Bitcoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'buy-btc' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Nakúpiť za EUR:</label>
            <input id="sum_eur_btc" type="text" class="form-control" name="sum_eur"/>
          </div>
          <div>Poplatky: <b id="fee_btc">1.00</b> EUR</div>
          <div>Nákup: <b id="sum_btc">0.10000000</b> BTC</div>
          <button type="submit" class="btn btn-default">Kúpiť</button>
        </form>
      </div>

      {% if active == "ltc" %}
      <div id="Litecoin" class="tab-pane active">
      {% else %}
      <div id="Litecoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'buy-ltc' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Nakúpiť za EUR:</label>
            <input type="text" class="form-control" name="sum_eur"/>
          </div>
          <button type="submit" class="btn btn-default">Kúpiť</button>
        </form>
      </div>

    </div>
  </div>
  <script>
    $(':text').val('{{ max_sum_eur }}');
    $('#sum_eur_btc').on("change paste keyup", function() {
      $.post("{% url 'buy-btc-json' %}", {sum_eur: $('#sum_eur_btc').val(), csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data){
        $('#sum_btc').text(data.btc);
        $('#fee_btc').text(data.fee);
      });
      //$('#sum_btc').text($(this).val());
    });
  </script>
{% endblock %}
