{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <h1>Vklad</h1>
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#Euro">Euro</a></li>
      <li><a data-toggle="pill" href="#Bitcoin">Bitcoin</a></li>
      <li><a data-toggle="pill" href="#Litecoin">Litecoin</a></li>
      <li><a data-toggle="pill" href="#Dogecoin">Dogecoin</a></li>
    </ul>
    <div class="tab-content">

      <div id="Euro" class="tab-pane active">
        <p>Zašlite na číslo účtu:</p>
	<p><b>SK12 1234 1234 1234 1234 1234</b></p>
	<p>S variabilným symbolom:</p>
	<p><b>{{ vs }}</b></p>
      </div>

      <div id="Bitcoin" class="tab-pane">
        <p>Zašlite na adresu:</p>
	    <p><b>{{ btc_address }}</b></p>
        <p>Prichádzajúce platby (na pripísanie sumy je treba 6 potvrdení):</p>
        <table class="table">
          <thead>
            <tr>
              <th>Adresa</th>
              <th>Suma BTC</th>
              <th>Potvrdení</th>
            </tr>
          </thead>
          <tbody>
            {% for incoming in incoming_btc %}
              <tr>
                <td>{{ incoming.address }}</td>
                <td>{{ incoming.btc }}</td>
                <td>{{ incoming.confirmations }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="Litecoin" class="tab-pane">
        <p>Zašlite na adresu:</p>
        <p><b>{{ ltc_address }}</b></p>
        <p>Prichádzajúce platby (na pripísanie sumy je treba 6 potvrdení):</p>
        <table class="table">
          <thead>
            <tr>
              <th>Adresa</th>
              <th>Suma LTC</th>
              <th>Potvrdení</th>
            </tr>
          </thead>
          <tbody>
            {% for incoming in incoming_ltc %}
              <tr>
                <td>{{ incoming.address }}</td>
                <td>{{ incoming.ltc }}</td>
                <td>{{ incoming.confirmations }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="Dogecoin" class="tab-pane">
        <p>Zašlite na adresu:</p>
        <p><b>{{ doge_address }}</b></p>
        <p>Prichádzajúce platby (na pripísanie sumy je treba 6 potvrdení):</p>
        <table class="table">
          <thead>
            <tr>
              <th>Adresa</th>
              <th>Suma DOGE</th>
              <th>Potvrdení</th>
            </tr>
          </thead>
          <tbody>
            {% for incoming in incoming_doge %}
              <tr>
                <td>{{ incoming.address }}</td>
                <td>{{ incoming.doge }}</td>
                <td>{{ incoming.confirmations }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}

