{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  {% if ok_message %} 
    <div class="alert alert-success"> {{ ok_message }} </div>
  {% endif %}
  {% if error_message %} 
    <div class="alert alert-danger"> {{ error_message }} </div>
  {% endif %}
  <div class="container">
    <ul class="nav nav-pills">
      {% if active == "btc" %}
        <li class="active" >
      {% else %}
        <li>
      {% endif %}
          <a data-toggle="pill" href="#Bitcoin">Bitcoin</a>
        </li>
      {% if active == "ltc" %}
        <li class="active" >
      {% else %}
        <li>
      {% endif %}
          <a data-toggle="pill" href="#Litecoin">Litecoin</a>
        </li>
    </ul>
    <div class="tab-content">

      {% if active == "btc" %}
      <div id="Bitcoin" class="tab-pane active">
      {% else %}
      <div id="Bitcoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'limit-order-buy-btc' %}" method="post">
          {% csrf_token %}
          <div>Maximálna cena: <b id="max_sum_eur">{{ max_sum_eur }}</b> EUR</div>
          <div class="form-group">
            <label for="usr">Množstvo BTC:</label>
            <input id="sum_btc" type="text" class="form-control" name="sum_btc"/>
          </div>
          <div class="form-group">
            <label for="usr">Cena BTC-EUR:</label>
            <input id="price_btc" type="text" class="form-control" name="price_btc"/>
          </div>
          <div>Poplatky: <b id="fee_eur_btc">-</b> EUR</div>
          <div>Celková cena: <b id="sum_eur_btc">-</b> EUR</div>
          <button type="submit" class="btn btn-default">Kúpiť</button>
        </form>
      </div>

      {% if active == "ltc" %}
      <div id="Litecoin" class="tab-pane active">
      {% else %}
      <div id="Litecoin" class="tab-pane">
      {% endif %}

      </div>

    </div>
  </div>
  <script>
    function onChange() {
      if(isNaN($('#sum_btc').val()) 
        || $('#sum_btc').val() == ""
        || $('#sum_btc').val() == 0
        || isNaN($('#price_btc').val()) 
        || $('#price_btc').val() == ""
        || $('#price_btc').val() == 0)
      {
        $('#fee_eur_btc').text("-");
        $('#sum_eur_btc').text("-");
      } else {
        $.post("{% url 'limit-order-buy-btc-json' %}",
          { 
            sum_btc: $('#sum_btc').val(),
            price_btc: $('#price_btc').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          function(data) {
            $('#fee_eur_btc').text(data.fee);
            $('#sum_eur_btc').text(data.eur);
          }
        );
      }
    }
    $('#sum_btc').on("change paste keyup", onChange);
    $('#price_btc').on("change paste keyup", onChange);
  </script>
{% endblock %}
