{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  {% if ok_message %} 
    <div class="alert alert-success"> {{ ok_message }} </div>
  {% endif %}
  {% if error_message %} 
    <div class="alert alert-danger"> {{ error_message }} </div>
  {% endif %}
  <div class="container">
    <ul class="nav nav-pills">
      {% if active == "btc" %}
        <li class="active" >
      {% else %}
        <li>
      {% endif %}
          <a data-toggle="pill" href="#Bitcoin">Bitcoin</a>
        </li>
      {% if active == "ltc" %}
        <li class="active" >
      {% else %}
        <li>
      {% endif %}
          <a data-toggle="pill" href="#Litecoin">Litecoin</a>
        </li>
    </ul>
    <div class="tab-content">

      {% if active == "btc" %}
      <div id="Bitcoin" class="tab-pane active">
      {% else %}
      <div id="Bitcoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'limit-order-sell-btc' %}" method="post">
          {% csrf_token %}
          <div>Maximálne množstvo: <b id="max_sum_btc">{{ max_sum_btc }}</b> BTC</div>
          <div class="form-group">
            <label for="usr">Množstvo BTC:</label>
            <input id="sum_btc" type="text" class="form-control" name="sum_btc"/>
          </div>
          <div class="form-group">
            <label for="usr">Cena BTC-EUR:</label>
            <input id="price_btc" type="text" class="form-control" name="price_btc"/>
          </div>
          <div>Poplatky: <b id="fee_eur_btc">-</b> EUR</div>
          <div>Celková cena: <b id="sum_eur_btc">-</b> EUR</div>
          <button type="submit" class="btn btn-default">Objednať</button>
        </form>

        <table class="table">
          <thead>
              <tr>
                <td><b>BTC</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
                <td><b>Zrušiť</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in orders_btc %}
              <tr>
                <td>{{ order.btc }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
                <td>
                  <form action="{% url 'limit-order-sell-btc-delete' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Zrušiť</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if active == "ltc" %}
      <div id="Litecoin" class="tab-pane active">
      {% else %}
      <div id="Litecoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'limit-order-sell-ltc' %}" method="post">
          {% csrf_token %}
          <div>Maximálne množstvo: <b id="max_sum_ltc">{{ max_sum_ltc }}</b> LTC</div>
          <div class="form-group">
            <label for="usr">Množstvo LTC:</label>
            <input id="sum_ltc" type="text" class="form-control" name="sum_ltc"/>
          </div>
          <div class="form-group">
            <label for="usr">Cena LTC-EUR:</label>
            <input id="price_ltc" type="text" class="form-control" name="price_ltc"/>
          </div>
          <div>Poplatky: <b id="fee_eur_ltc">-</b> EUR</div>
          <div>Celková cena: <b id="sum_eur_ltc">-</b> EUR</div>
          <button type="submit" class="btn btn-default">Objednať</button>
        </form>
        
        <table class="table">
          <thead>
              <tr>
                <td><b>LTC</b></td>
                <td><b>Cena</b></td>
                <td><b>Čas</b></td>
                <td><b>Zrušiť</b></td>
              </tr>
          </thead>
          <tbody>
            {% for order in orders_ltc %}
              <tr>
                <td>{{ order.ltc }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.datetime }}</td>
                <td>
                  <form action="{% url 'limit-order-sell-ltc-delete' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Zrušiť</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <script>
    function onChangeBtc() {
      if(isNaN($('#sum_btc').val()) 
        || $('#sum_btc').val() == ""
        || $('#sum_btc').val() == 0
        || isNaN($('#price_btc').val()) 
        || $('#price_btc').val() == ""
        || $('#price_btc').val() == 0)
      {
        $('#fee_eur_btc').text("-");
        $('#sum_eur_btc').text("-");
      } else {
        $.post("{% url 'limit-order-sell-btc-json' %}",
          { 
            sum_btc: $('#sum_btc').val(),
            price_btc: $('#price_btc').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          function(data) {
            $('#fee_eur_btc').text(data.fee);
            $('#sum_eur_btc').text(data.eur);
          }
        );
      }
    }
    $('#sum_btc').on("change paste keyup", onChangeBtc);
    $('#price_btc').on("change paste keyup", onChangeBtc);

    function onChangeLtc() {
      if(isNaN($('#sum_ltc').val()) 
        || $('#sum_ltc').val() == ""
        || $('#sum_ltc').val() == 0
        || isNaN($('#price_ltc').val()) 
        || $('#price_ltc').val() == ""
        || $('#price_ltc').val() == 0)
      {
        $('#fee_eur_ltc').text("-");
        $('#sum_eur_ltc').text("-");
      } else {
        $.post("{% url 'limit-order-sell-ltc-json' %}",
          { 
            sum_ltc: $('#sum_ltc').val(),
            price_ltc: $('#price_ltc').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          function(data) {
            $('#fee_eur_ltc').text(data.fee);
            $('#sum_eur_ltc').text(data.eur);
          }
        );
      }
    }
    $('#sum_ltc').on("change paste keyup", onChangeLtc);
    $('#price_ltc').on("change paste keyup", onChangeLtc);
  </script>
{% endblock %}
