{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <h1>Portfólio</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>Nakúpené:</td>
          <td></td>
        </tr>
        <tr>
          <td><b>{{ eur }}</b></td>
          <td><b>EUR</b></td>
        </tr>
        <tr>
          <td><b>{{ btc }}</b></td>
          <td><b>BTC</b></td>
        </tr>
        <tr>
          <td><b>{{ ltc }}</b></td>
          <td><b>LTC</b></td>
        </tr>
        <tr>
          <td><b>{{ doge }}</b></td>
          <td><b>DOGE</b></td>
        </tr>
        <tr>
          <td><b>{{ eth }}</b></td>
          <td><b>ETH</b></td>
        </tr>
        <tr>
          <td><b>{{ xlm }}</b></td>
          <td><b>XLM</b></td>
        </tr>
         <tr>
          <td><b>{{ zrx }}</b></td>
          <td><b>ZRX</b></td>
        </tr>
        <tr>
          <td>V objednávkach:</td>
          <td></td>
        </tr>
        <tr>
          <td><b>{{ eur_in_orders }}</b></td>
          <td><b>EUR</b></td>
        </tr>
        <tr>
          <td><b>{{ btc_in_orders }}</b></td>
          <td><b>BTC</b></td>
        </tr>
        <tr>
          <td><b>{{ ltc_in_orders }}</b></td>
          <td><b>LTC</b></td>
        </tr>
        <tr>
          <td><b>{{ doge_in_orders }}</b></td>
          <td><b>DOGE</b></td>
        </tr>
        <tr>
          <td><b>{{ eth_in_orders }}</b></td>
          <td><b>ETH</b></td>
        </tr>
        <tr>
          <td><b>{{ xlm_in_orders }}</b></td>
          <td><b>XLM</b></td>
        </tr>
        <tr>
          <td><b>{{ zrx_in_orders }}</b></td>
          <td><b>ZRX</b></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
