{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <td><b>BTC-EUR</b></td>
          <td><b>8150</b></td>
        </tr>
        <tr>
          <td></td>
          <td><b>8150</b></td>
        </tr>
        <tr>
          <td><b>LTC-EUR</b></td>
          <td><b>36</b></td>
        </tr>
        <tr>
          <td></td>
          <td><b>36</b></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
