{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <td><b>BTC-EUR</b></td>
          <td></td>
        </tr>
        <tr>
          <td>Nakúpite za</td>
          <td><b id="btceur-buy">8395</b></td>
	  <script>
		  $(document).ready(function(){
	    $('#button').click(function(){ 
	      $('#btceur-buy').load('rate-btceur-buy/', function(responseTxt){
		      $('#btceur-buy').text(responseTxt)
	      }
	      ); });
		  });
	  </script>
        </tr>
        <tr>
          <td>Predáte za</td>
          <td><b>7905</b></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><b>LTC-EUR</b></td>
          <td></td>
        </tr>
        <tr>
          <td>Nakúpite za</td>
          <td><b>37</b></td>
        </tr>
        <tr>
          <td>Predáte za</td>
          <td><b>35</b></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn" id='button'>Button</button>
  </div>
{% endblock %}
