{% extends 'xbtzmenarenapp/withPublicMenu.html' %}

{% block content %}
  {% if error_message %}
    <div class="alert alert-danger"> {{ error_message }} </div>
  {% endif %}
  <div class="container">
    <form action="{% url 'registration-attempt' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="form-group">
          <label for="usr">E-mail:</label>
          <input type="text" class="form-control" name="email"/>
        </div>
        <div class="form-group">
          <label for="password">Heslo:</label>
          <input type="password" class="form-control" name="password"/>
        </div>
        <div class="form-group">
          <label for="password">Heslo znova:</label>
          <input type="password" class="form-control" name="password-again"/>
        </div>
      </div>

      <div class="container">
        <label for="img">Vyberte foto OP spredu:</label>
        <input type="file" id="ID_1_img" name="ID_1_img" accept="image/*"/>
        <label for="img">Vyberte foto OP zozadu:</label>
        <input type="file" id="ID_2_img" name="ID_2_img" accept="image/*"/>
        <label for="img">Vyberte foto tváre</label>
        <input type="file" id="Face_img" name="Face_img" accept="image/*"/>
      </div>

      <div class="container">
        <h3>1) Výška investície:</h3>
        <div class="btn-group" data-toggle="buttons">
          <p><b>1.1) Koľko EUR mienite investovať jednorázovo?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q1" id="q1o1" autocomplete="off" checked/>&lt; 100
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q1" id="q1o2" autocomplete="off"/>100 - 500
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q1" id="q1o3" autocomplete="off"/>500 - 1000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q1" id="q1o4" autocomplete="off"/>&gt; 1000
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>1.2) Koľko EUR mienite investovať pravidelne mesačne?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q2" id="q2o1" autocomplete="off" checked/>&lt; 100
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q2" id="q2o2" autocomplete="off"/>100 - 500
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q2" id="q2o3" autocomplete="off"/>500 - 1000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q2" id="q2o4" autocomplete="off"/>&gt; 1000
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>1.3) Aká je priemerná výška vašich pravidelných ročných príjmov v EUR po zdanení? Uveďte prosím odhad vašeho priemerného ročného čistého príjmu. Jednorázové príjmy, vzniknuté napríklad predajom nehnuteľnosti, pozemkov, iných investícií a pod., nezapočítavajte.</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q3" id="q3o1" autocomplete="off" checked/>&lt; 4 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q3" id="q3o2" autocomplete="off"/>4 000 - 20 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q3" id="q3o3" autocomplete="off"/>20 000 - 40 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q3" id="q3o4" autocomplete="off"/>&gt; 40 000
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>1.4) Na koľko EUR odhadujete hodnotu svojho majetku? Vrátane hotovosti, hnuteľných vecí, investícií a nehnuteľností. Skúste odhadnúť množstvo peňazí, ktoré by ste získali, ak by ste všetok svoj majetok naraz predali.</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q4" id="q4o1" autocomplete="off" checked/>&lt; 4 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q4" id="q4o2" autocomplete="off"/>4 000 - 20 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q4" id="q4o3" autocomplete="off"/>20 000 - 40 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q4" id="q4o4" autocomplete="off"/>40 000 - 400 000
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q4" id="q4o5" autocomplete="off"/>&gt; 400 000
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>1.5) Pravidelné splátky mojich súčasných finančných záväzkov (splátka hypotéky, leasingu, iného úveru a pod.) v percentách čistého príjmu dosahujú: </b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q5" id="q5o1" autocomplete="off" checked/>&lt; 35% 
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q5" id="q5o2" autocomplete="off"/>35% - 50%
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q5" id="q5o3" autocomplete="off"/>&gt; 50% 
          </label>
        </div>
      </div>

      <div class="container">
        <h3>2) Riziko</h3>
        <div class="btn-group" data-toggle="buttons">
          <p><b>2.1) Čo je účelom vašich investícií?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q6" id="q6o1" autocomplete="off" checked/>Primárne ochrániť svoje investované prostriedky.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q6" id="q6o2" autocomplete="off"/>Mierne zhodnotiť svoje prostriedky a minimalizovať riziká.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q6" id="q6o3" autocomplete="off"/>Zhodnotiť svoje prostriedky a znášať primerané riziko.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q6" id="q6o4" autocomplete="off"/>Výrazne zhodnotiť svoje prostriedky aj za cenu veľmi vysokej kolísavosti hodnoty portfólia.
          </label>
        </div>
      </div>
       
      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>2.2) Ako veľmi vám vadí krátkodobé a mnohokrát značné kolísanie hodnoty vášho portfólia oboma smermi?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q7" id="q7o1" autocomplete="off" checked/>Vôbec mi nevadí.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q7" id="q7o2" autocomplete="off"/>Skôr mi nevadí.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q7" id="q7o3" autocomplete="off"/>Mám k tomu neutrálny postoj.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q7" id="q7o4" autocomplete="off"/>Skôr mi vadí.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q7" id="q7o5" autocomplete="off"/>Rozhodne mi vadí.
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>2.3) Hodnota investície môže rásť aj klesať. O koľko by sa celková hodnota vašej investície musela znížiť, aby ste začali premýšľať o tom, že investíciu zrušíte?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q8" id="q8o1" autocomplete="off" checked/>O 10 % a viac.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q8" id="q8o2" autocomplete="off"/>O 20 % a viac.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q8" id="q8o3" autocomplete="off"/>O 33 % a viac.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q8" id="q8o4" autocomplete="off"/>O 50 % a viac.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q8" id="q8o5" autocomplete="off"/>O rušení nepremýšľam, kým nevyprší plánovaný investičný horizont.
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>2.4) Aká by bola vaša reakcia, ak by sa hodnota vášho portfólia prepadla o 10% v priebehu niekoľkých dní?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q9" id="q9o1" autocomplete="off" checked/>Okamžite predám celé svoje portfólio a zabránim ďalším stratám.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q9" id="q9o2" autocomplete="off"/>Predám časť svojho portfólia.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q9" id="q9o3" autocomplete="off"/>Počkám na ďalší vývoj, kým sa hodnota nevráti.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q9" id="q9o4" autocomplete="off"/>Využijem túto príležitosť a nakúpim viac za nižšie ceny.
          </label>
        </div>
      </div>

      <div class="container">
        <div class="btn-group" data-toggle="buttons">
          <p><b>2.5) Ako by ovplyvnilo vašu životnú úroveň, ak by sa hodnota vašej investície významne znížila?</b></p>
          <label class="btn btn-primary active">
            <input type="radio" name="q10" id="q10o1" autocomplete="off" checked/>Zásadne negatívne. Moja celková životná úroveň by sa znížila.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q10" id="q10o2" autocomplete="off"/>Mierne. Moju životnú úroveň by to mohlo ohroziť.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="q10" id="q10o3" autocomplete="off"/>Neovplyvnilo. Dopad by bol zanedbateľný.
          </label>
        </div>
      </div>
     
      <button type="submit" class="btn btn-default">Registrovať</button>
    </form>
  </div>
{% endblock %}
