{% extends 'xbtzmenarenapp/withPublicMenu.html' %}

{% block content %}
  {% if error_message %}
    <div class="alert alert-danger"> {{ error_message }} </div>
  {% endif %}

  <div class="container">
    <form action="{% url 'registration-questionare' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <label for="img">Vyberte foto OP spredu:</label>
        <input type="file" id="ID_1_img" name="ID_1_img" accept="image/*"/>
      </div>
      <div class="container">
        <label for="img">Vyberte foto OP zozadu:</label>
        <input type="file" id="ID_2_img" name="ID_2_img" accept="image/*"/>
      </div>
      <div class="container">
        <label for="img">Vyberte foto tváre</label>
        <input type="file" id="Face_img" name="Face_img" accept="image/*"/>
      </div>
      <button type="submit" class="btn btn-default">Odoslať</button>
    </form> 
  </div>
{% endblock %}
