{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  {% if ok_message %} 
    <div class="alert alert-success"> {{ ok_message }} </div>
  {% endif %}
  {% if error_message %} 
    <div class="alert alert-danger"> {{ error_message }} </div>
  {% endif %}
  <div class="container">
    <ul class="nav nav-pills">
      {% if active == "btc" %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
      <a data-toggle="pill" href="#Bitcoin">Bitcoin</a></li>
      {% if active == "ltc" %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
      <a data-toggle="pill" href="#Litecoin">Litecoin</a></li>
    </ul>
    
    <div class="tab-content">
      {% if active == "btc" %}
      <div id="Bitcoin" class="tab-pane active">
      {% else %}
      <div id="Bitcoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'sell-btc' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Predať BTC:</label>
            <input type="text" class="form-control" name="sum_btc" id="sum_btc"/>
            <script>$('#sum_btc').val('{{ max_sum_btc }}');</script>
          </div>
          <button type="submit" class="btn btn-default">Predať</button>
        </form>
      </div>

      {% if active == "ltc" %}
      <div id="Litecoin" class="tab-pane active">
      {% else %}
      <div id="Litecoin" class="tab-pane">
      {% endif %}
        <form action="{% url 'sell-ltc' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Predať LTC:</label>
            <input type="text" class="form-control" name="sum_ltc" id="sum_ltc"/>
            <script>$('#sum_ltc').val('{{ max_sum_ltc }}');</script>
          </div>
          <button type="submit" class="btn btn-default">Predať</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
