{% extends 'xbtzmenarenapp/basic.html' %}

{% block body %}
  <ul class="nav nav-pills nav-justified">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'buy' %}">Nákup</a></li>
        <li><a href="{% url 'sell' %}">Predaj</a></li>
        <li><a href="{% url 'portfolio' %}">Portfólio</a></li>
        <li><a href="{% url 'rates' %}">Kurzy</a></li>
        <li><a href="{% url 'deposit' %}">Vklad</a></li>
        <li><a href="{% url 'withdrawal' %}">Výber</a></li>
        <li><a href="{% url 'change-password' %}">Zmena hesla</a></li>
        <li><a href="{% url 'logout' %}">Odhlásenie</a></li>
      </ul>
    </li>
    {% if user.is_staff %}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Správa
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
	    <li><a href="{% url 'management-verification' %}">Overenie</a></li>
        <li><a href="{% url 'management-deposits' %}">Vklady</a></li>
        <li><a href="{% url 'management-withdrawals' %}">Výbery</a></li>
      </ul>
    </li>
    {% endif %}
  </ul>
  {% block content %}
  {% endblock %}
{% endblock %}
