{% extends 'xbtzmenarenapp/withMenu.html' %}

{% block content %}
  <div class="container">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#Euro">Euro</a></li>
      <li><a data-toggle="pill" href="#Bitcoin">Bitcoin</a></li>
      <li><a data-toggle="pill" href="#Litecoin">Litecoin</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="Euro" class="tab-pane active">
        <form action="{% url 'withdrawal-eur' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Vybrať EUR:</label>
            <input type="text" class="form-control" name="sum_eur" id="sum_eur"/>
            <script>$('#sum_eur').val('{{ max_sum_eur }}');</script>
          </div>
          <div class="form-group">
            <label for="usr">Zaslať na účet IBAN:</label>
            <input type="text" class="form-control"
	      name="account_number" id="account_number"/>
          </div>
          <button type="submit" class="btn btn-default">Vybrať</button>
        </form>
      </div>

      <div id="Bitcoin" class="tab-pane">
        <form action="{% url 'withdrawal-btc' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Vybrať BTC:</label>
            <input type="text" class="form-control" name="sum_btc" id="sum_btc"/>
            <script>$('#sum_btc').val('{{ max_sum_btc }}');</script>
          </div>
          <div class="form-group">
            <label for="usr">Zaslať na adresu:</label>
            <input type="text" class="form-control"
	      name="address_btc" id="address_btc"/>
          </div>
          <button type="submit" class="btn btn-default">Vybrať</button>
        </form>
      </div>

      <div id="Litecoin" class="tab-pane">
        <form action="{% url 'withdrawal-ltc' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Vybrať LTC:</label>
            <input type="text" class="form-control" name="sum_ltc" id="sum_ltc"/>
            <script>$('#sum_ltc').val('{{ max_sum_ltc }}');</script>
          </div>
          <div class="form-group">
            <label for="usr">Zaslať na adresu:</label>
            <input type="text" class="form-control"
	      name="address_ltc" id="address_ltc"/>
          </div>
          <button type="submit" class="btn btn-default">Vybrať</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
