<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap: -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

    <meta charset="utf-8">
    <title>Xbt Zmenaren</title>
  </head>
  <body>
    <div class="container">
      <p>Boli ste úspešne odhlásení</p>
      <p>Pre opätovné prihlásenie <a href="{% url 'login' %}">kliknite sem</a>
    </div>
  </body>
</html>
